@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto&subset=cyrillic');
*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}
body{
  margin: 1em;
  font-size: 1em;
  margin-top: 7em;
  text-align: center;
  color: #263238 !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Comfortaa', cursive;
  background-image: url('https://images.wallpaperscraft.ru/image/fon_tekstura_poverhnost_temnyy_bukvy_50343_1280x720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
a{
  color: #263238 !important;
}
aside{
  display: flex;
  justify-content: center;
}
.categories{
  padding: 1%;
  background: rgba(62, 69, 81, 0.7);
}
.category .nav-item{
  background: #cfd8dc;
}
.category .nav-item:hover{
  background: rgba(96, 125, 139, 0.7);
}
header .navbar{
  background: #78909c;
}
header .navbar-brand:hover{
  background: rgba(0, 0, 0, 0.3);
}
header .nav-item{
  margin: 1%;
}
header .active,.nav-item:hover{
  background: rgba(0, 0, 0, 0.3);
}
main .nav-link:hover{
  color: white !important;
}
.content{
  text-align: justify;
}
.view{
  background: #546e7a;
}
.dropdown-menu{
  width: 30em;
}
.dropdown-item{
  width: 100%;
  margin: auto;
  text-align: center;
}
.paginator{
  margin-top: 1%;
}
.accordion{
  margin: 1% 0;
}
.card-header{
  background: #546e7a;
}
#go-top {
  position: fixed;
  bottom: 5%;
  right: 0;
  cursor: pointer;
}
.img-fruid{
  height: 100%;
  width: 100%;
}
.media{
  font-size: 0.8em;
}
.nav-tabs{
  background: #263238;
  font-size: 0.8em;
}
.avatar-img{
  width: 100%;
}
.md-textarea{
  width: 100%;
}
input{
  width: 24em;
}
.years{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}


@media screen and (min-width: 1500px){
  body{
    margin-top: 8em;
    background-image: url('https://images.wallpaperscraft.ru/image/fon_tekstura_poverhnost_temnyy_bukvy_50343_1920x1200.jpg');
  }
  input{
    width: 29em;
  }
}

@media screen and (max-width: 1024px){
  body{
    background-image: url('https://images.wallpaperscraft.ru/image/fon_tekstura_poverhnost_temnyy_bukvy_50343_1024x600.jpg');
  }
  .category .nav-item{
    font-size: 0.7em;
  }
  .dropdown-menu{
    width: 25em;
  }
  .dropdown-item{
    width: 90%;
    font-size: 0.7em !important;
  }
  input{
    width: 19em;
  }
}

@media screen and (max-width: 768px){
  body{
    margin-top: 6em;
    background-image: url('https://images.wallpaperscraft.ru/image/fon_tekstura_poverhnost_temnyy_bukvy_50343_800x600.jpg');
  }
  .dropdown-menu{
    width: 20em;
  }
  .category .nav-item{
    margin: 0.5% 25% !important;
  }
  input{
    width: 14em;
  }
}

@media screen and (max-width: 480px){
  body{
    background-image: url('https://images.wallpaperscraft.ru/image/fon_tekstura_poverhnost_temnyy_bukvy_50343_480x800.jpg');
  }
}
