@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto&subset=cyrillic');
*{
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}
body{
  margin: 1%;
  font-size: 1.1em;
  margin-top: 10%;
  text-align: center;
  color: #263238 !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Comfortaa', cursive;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
a{
  color: #263238 !important;
}
aside{
  display: flex;
  justify-content: center;
}
.categories{
  padding: 1%;
  background: rgba(62, 69, 81, 0.7);
}
.category .nav-item{
  background: #cfd8dc;
}
.category .nav-item:hover{
  background: rgba(96, 125, 139, 0.7);
}
.category .nav-link{
  width: 100%;
}
header .navbar{
  background: #78909c;
}
header .navbar-brand{
  font-size: 1.5em;
  padding: 1%;
}
header .navbar-brand:hover{
  background: rgba(0, 0, 0, 0.3);
}
header .nav-item{
  margin: 1%;
}
header .active,.nav-item:hover{
  background: rgba(0, 0, 0, 0.3);
}
main .navbar-brand{
  display: none;
}
main .nav-link:hover{
  color: white !important;
}
.content{
  text-align: justify;
}
.h1-responsive{
  margin: 1%;
  padding: 1%;
  background: #546e7a;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(158, 158, 158, 0.7) inset, 0 1px 0 rgba(255,255,255,.2);
}
.view{
  background: #546e7a;
}
.dropdown-menu{
  width: 50vw;
}
.paginator{
  margin-top: 1%;
}
.accordion{
  margin: 1% 0;
}
.card-header{
  background: #fafafa;
}
#go-top {
  position: fixed;
  bottom: 5%;
  right: 0;
  cursor: pointer;
}
.media img{
  height: 10%;
  width: 10%;
}


@media screen and (min-width: 1500px){
  body{
    margin-top: 8%;
  }
  .dropdown-menu{
    width: 45vh;
  }
}

@media screen and (max-width: 990px){
  body{
    margin-top: 13%;
  }
  .dropdown-menu{
    width: 95vw;
  }
}

@media screen and (max-width: 768px){
  body{
    margin-top: 16%;
  }
  .dropdown-menu{
    width: 94vw;
  }
}

@media screen and (max-width: 600px){
  body{
    margin-top: 20%;
  }
}
