{% extends 'index.html' %}
{% load i18n %}



{% block meta %}
="{{ slug_meta }}"
{% endblock %}

{% block title %}
RestFilm
{% endblock %}

{% block random_movie %}
href="{% url 'watch' slug=random_movie %}"
{% endblock %}

{% block content %}
<article class="text-center mb-3 mt-3">
  <div class="m-3">
    {% if messages %}
    <ul class="navbar-nav text-white messages">{% for message in messages %}
      <li class="nav-item" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        <h2>{{ message }}</h2>
      </li>
      {% endfor %}</ul>
    {% endif %}
  </div>
  <div class="row d-flex justify-content-center">
    {% for film in movies %}
    <div class="col-lg-2 col-md-6 mb-3 d-flex justify-content-center">
      <div class="view p-1 overlay rounded z-depth-2">
        <a href="{% url 'watch' slug=film.title %}" title="{{ film.film_name }}">
          <img src="{{ film.film_photo.url }}" class="img-fluid" alt="{{ film.film_name }}">
          <div class="mask flex-center rgba-black-strong">
            <p class="white-text"><i class="fa fa-play-circle" style="font-size: 5em;"></i></p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</article>

<article>
  <nav class="paginator font-weight-bold d-flex justify-content-center" aria-label="Page navigation example">
    {% if movies.has_other_pages %}
    <ul class="pagination pg-green">
      {% if movies.has_previous %}
      <li class="page-item"><a href="?page={{ movies.previous_page_number }}"><span class="page-link">&laquo;</span></a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
      {% endif %}
      {% for p in movies.paginator.page_range %}
      {% if movies.number == p %}
      <li class="page-item active"><span class="page-link" aria-hidden="true">{{ p }}<span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
      {% endfor %}
      {% if movies.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ movies.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
      {% endif %}
      {% endif %}
    </ul>
  </nav>
</article>

<footer>
  <div class="accordion md-accordion accordion-1" id="accordionEx1" role="tablist">
    {% for news in news_list %}
    <div class="card mb-1">
      <div class="card-header lighten-3 z-depth-1" role="tab" id="heading{{ news.id }}">
        <h6 class="text-uppercase mb-0 py-1">
          <a class="font-weight-bold" data-toggle="collapse" href="#collapse{{ news.id }}" aria-expanded="true" aria-controls="collapse96">
            {{ news.title }}
          </a>
        </h6>
      </div>
      <div id="collapse{{ news.id }}" class="collapse" role="tabpanel" aria-labelledby="heading{{ news.id }}" data-parent="#accordionEx1">
        <div class="card-body">
          <div class="row">
            <div class="col-md">
              <div class="content">{{ news.content|safe }}</div>
            </div>
            <div class="col-md-5">
                <img src="{{ news.photo.url }}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</footer>
{% endblock %}
