{% extends 'index.html' %}
{% load static %}
{% load i18n %}



{% block meta %}
="{{ movie.film_name }}"
{% endblock %}

{% block title %}
{{ movie.film_name }}
{% endblock %}

{% block random_movie %}
href="{% url 'watch' slug=random_movie %}"
{% endblock %}

{% block categories %}
style="display: none;"
{% endblock %}

{% block content %}
<article class="mb-4">
  <div class="content-header" style="background-image: url('{{ movie.header_photo.url }}');">
    <div class="row p-5">
      <div class="col-md-7 film-name">
        <h3 class="text-light pt-2 pb-1">{{ movie.film_name }} <p>{{ movie.year }}</p> </h3>
      </div>
      <div class="col-md-5 film-trailer">
        <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item px-1" src="{{ movie.trailer_url }}?rel=0&autoplay=1" frameborder="0" allow="autoplay; encrypted-media"  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="card news-card">
    <div class="card-body row">
      <div class="col-md-3 avatar">
        <img src="{{ movie.film_photo.url }}" class="avatar-img z-depth-1-half mr-3">
      </div>
      <div class="col-md content p-3">{{ movie.description|safe }}</div>
    </div>
    <div class="card-footer content p-3">{{ movie.content|safe }}</div>
    <div class="card-footer content px-5">
      <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ movie.film_url }}" allowfullscreen></iframe>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div class="card-body">
      <hr>
      <div class="feed-footer">
        <div class="m-3">
          {% if messages %}
          <ul class="navbar-nav text-danger messages">{% for message in messages %}
            <li class="nav-item" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              <h1>{{ message }}</h1>
            </li>
            {% endfor %}</ul>
          {% endif %}
        </div>
        <a class="comment text-uppercase font-weight-bold white-text unique-color-dark p-2" data-toggle="collapse" href="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1">{% trans "Comment" %}</a>
        <div class="collapse" id="collapseExample-1">
          <div class="card card-body mt-1">
            <form method="POST">
              {% csrf_token %}
              <div class="md-form mt-1">
                <textarea type="text" name="content" id="commentForm-message" class="form-control md-textarea" rows="1"></textarea>
                <label for="commentForm-message">{% trans "Add comment" %}</label>
              </div>
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <div class="md-form d-flex justify-content-center g-recaptcha" data-sitekey="6Lfc_4AUAAAAACyPo0ijLC83f9NeZPhC9I0waa55"></div>
              <div class="d-flex justify-content-center">
                <button type="reset" class="btn btn-dark w-50 p-2 waves-effect" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-dark w-50 p-2 waves-effect" data-toggle="collapse" data-target="#collapseExample-1" aria-expanded="false" aria-controls="collapseExample-1" value="Submit">{% trans "Reply" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="disabled">
    </div>
    {% endif %}
  </div>

  <footer class="my-3">
    {% for post in comment_list %}
    <div class="card p-3 mb-1">
      <div class="media">
        <div class="media-body">
          <div class="excerpt">
            <div class="brief float-left mr-3">
              <a class="name">
                <p class="font-weight-bold blue-text">{{ post.author }}<p>
              </a>
              <div class="date">{{ post.created_on.date }}</div>
            </div>
            <div class="added-text p-3"><strong>{{ post.content }}</strong></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </footer>
</article>
{% endblock %}
