<!DOCTYPE html>
{% load static %}
{% load i18n %}



{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130790408-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130790408-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}- {% trans "movies in HD quality online" %}!</title>
    <meta name="description" content{% block meta %}{% endblock %}>
    <meta name="keywords" content="{% trans "movies, serials, cartoons, online, watch, ukrainian, free, HD 720, HD 1080" %}">
    <meta name="google-signin-client_id" content="240914298851-nm2330l5fdihsrumpm6kncbstnug8aio.apps.googleusercontent.com">
    <link rel="shortcut icon" href="{% static 'img/images/favicon.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body style="background-image: url('{% static 'img/images/background.jpg' %}');">

  <header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-between scrolling-navbar">
      <a class="navbar-brand waves-effect" href="{% url 'home' %}" title="RestFilm - {% trans "movies in HD quality online" %}">
        <h1>RestFilm</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {% trans "Novelty" as Novelty %}
            <a class="nav-link active" href="{% url 'filter' slug=Novelty %}" title="{% trans " New films" %}">{% trans "Novelty" %}</a>
          </li>
          <li class="nav-item">
            {% trans "Popular" as Popular %}
            <a class="nav-link" href="{% url 'filter' slug=Popular %}" title="{% trans " Popular films" %}">{% trans "Popular" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" {% block random_movie %}{% endblock %} title="{% trans " Random film" %}">{% trans "Random" %}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Years" %}</a>
            <div class="dropdown-menu dropdown-primary px-3" aria-labelledby="navbarDropdownMenuLink">
              <div class="row">
                <a class="col text-center text-danger nav-item dropdown-item" href="{% url 'filter' slug='2019' %}">2019</a>
              </div>
              <div class="row">
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2018' %}">2018</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2017' %}">2017</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2016' %}">2016</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2015' %}">2015</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2014' %}">2014</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2013' %}">2013</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2012' %}">2012</a>
              </div>
              <div class="row">
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2011' %}">2011</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2010' %}">2010</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2009' %}">2009</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2008' %}">2008</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2007' %}">2007</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2006' %}">2006</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2005' %}">2005</a>
              </div>
              <div class="row">
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2004' %}">2004</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2003' %}">2003</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2002' %}">2002</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2001' %}">2001</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='2000' %}">2000</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1999' %}">1999</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1998' %}">1998</a>
              </div>
              <div class="row">
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1997' %}">1997</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1996' %}">1996</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1995' %}">1995</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1994' %}">1994</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1993' %}">1993</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1992' %}">1992</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1991' %}">1991</a>
              </div>
              <div class="row">
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1990' %}">1990</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1989' %}">1989</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1988' %}">1988</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1987' %}">1987</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1986' %}">1986</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1985' %}">1985</a>
                <a class="col text-center nav-item dropdown-item" href="{% url 'filter' slug='1984' %}">1984</a>
              </div>
          </li>
        </ul>
        <form class="form-inline" action="{% url 'filter' slug='result' %}" method="get">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="{% trans " Search" %}" title="{% trans " Search" %}" aria-label="{% trans " Search" %}">
          </div>
        </form>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item d-flex">
            {% if user.is_authenticated %}
            <a href="" class="nav-link waves-effect waves-light" title="{% trans " Account" %}" data-toggle="modal" data-target="#elegantModalForm">
              <i class="fa fa-user"></i>
            </a>
            {% else %}
            <a href="{% url 'signin' %}" class="nav-link waves-effect waves-light" title="{% trans " Account" %}">
              <i class="fa fa-user"></i>
            </a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% for language in languages %}
            {% if language.code != LANGUAGE_CODE %}
            <form action="{% url 'set_language' %}" method="post"> {% csrf_token %}
              <input name="next" type="hidden" value="{{ request.get_current_url }}" />
              <input name="language" type="hidden" value="{{ language.code }}" />
              <button type="submit" style="background-color: #7777;" class="btn nav-link waves-effect waves-light" title="{% trans " Language for the site" %}">
                <span>{{ language.code|upper }}</span>
              </button>
            </form>
            {% endif %}
            {% endfor %}
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <article class="categories mb-3">
      <nav class="navbar navbar-expand-lg d-flex justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nextNav" aria-controls="nextNav" aria-expanded="false" aria-label="Toggle navigation">
          <h3 class="p-3 waves-effect"><i class="fa fa-plus mr-3"></i> {% trans "All categories" %}</h3>
        </button>
        <div class="collapse category navbar-collapse text-center justify-content-center" id="nextNav">
          <ul class="navbar-nav">
            <div class="row d-flex justify-content-center">
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Detective" as Detective %}
                <a href="{% url 'filter' slug=Detective %}" class="nav-link text-center">{% trans "Detective" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Action" as Action %}
                <a href="{% url 'filter' slug=Action %}" class="nav-link">{% trans "Action" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Comedy" as Comedy %}
                <a href="{% url 'filter' slug=Comedy %}" class="nav-link">{% trans "Comedy" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Drama" as Drama %}
                <a href="{% url 'filter' slug=Drama %}" class="nav-link">{% trans "Drama" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Adventures" as Adventures %}
                <a href="{% url 'filter' slug=Adventures %}" class="nav-link">{% trans "Adventures" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Family" as Family %}
                <a href="{% url 'filter' slug=Family %}" class="nav-link">{% trans "Family" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Fantasy" as Fantasy %}
                <a href="{% url 'filter' slug=Fantasy %}" class="nav-link">{% trans "Fantasy" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Musical" as Musical %}
                <a href="{% url 'filter' slug=Musical %}" class="nav-link">{% trans "Musical" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Biography" as Biography %}
                <a href="{% url 'filter' slug=Biography %}" class="nav-link">{% trans "Biography" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Hystory" as Hystory %}
                <a href="{% url 'filter' slug=Hystory %}" class="nav-link">{% trans "Hystory" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Documentary" as Documentary %}
                <a href="{% url 'filter' slug=Documentary %}" class="nav-link">{% trans "Documentary" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Thriller" as Thriller %}
                <a href="{% url 'filter' slug=Thriller %}" class="nav-link">{% trans "Thriller" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 bblock-example border border-dark waves-effect">
                {% trans "Sport" as Sport %}
                <a href="{% url 'filter' slug=Sport %}" class="nav-link">{% trans "Sport" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Horror" as Horror %}
                <a href="{% url 'filter' slug=Horror %}" class="nav-link">{% trans "Horror" %}</a>
              </li>
              <li class="nav-item col-md-2 m-1 block-example border border-dark waves-effect">
                {% trans "Melodrama" as Melodrama %}
                <a href="{% url 'filter' slug=Melodrama %}" class="nav-link">{% trans "Melodrama" %}</a>
              </li>
            </div>
          </ul>
        </div>
      </nav>
    </article>

    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer font-small special-color">
    <div style="background-color: #455a64;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">{% trans "Get connected with us on social networks!" %}</h6>
          </div>
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <a href="https://www.facebook.com/profile.php?id=100005301400930" class="fb-ic" title="Facebook">
              <i class="fa fa-facebook white-text mr-4"> </i>
            </a>
            <a href="https://www.linkedin.com/in/viktor-kozachok-39b608175/" class="fb-ic" title="Linkedin">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <a href="https://plus.google.com/u/1/104806839621813040867" class="gplus-ic" title="Google+">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <a href="https://github.com/viktorkozachok21" class="li-ic" title="GitHub">
              <i class="fa fa-github white-text mr-4"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <a class="grey-text">
              About us
            </a>
          </h6>
          <hr class="green accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>{% trans "In today's world, watching movies online has become very relevant. Over the years, the world has seen thousands of tapes, and the cinema still does not cease to amaze the viewer. RestFilm is an online cinema, a place where you can watch movies online. A collection of movies is available to everyone. How to watch, where to watch, who to watch, what to watch or to whom to watch - all this is your problems. We only provide quality material that we want to share, because we are just like you like cinema." %}</p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'contact' %}" class="grey-text">
              Contact
            </a>
          </h6>
          <hr class="green accent-2 mb-1 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> {% trans "Rivne" %}</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> viktorkozachok21@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> 096 1237 959</p>
        </div>
      </div>
    </div>
  </footer>

  <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="{% static 'img/images/user-man.png' %}" alt="{% trans " Avatar" %}" class="rounded-circle w-30 h-30 unique-color-dark img-responsive">
        </div>
        <div class="modal-body text-center mb-1">
          <h5 class="mt-1 mb-1">{{ user.username }}</h5>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn w-60 btn-block white-text grey lighten-1 p-3" type="submit"><a class="nav-link" href="{% url 'userlogout' %}" title="{% trans " Log out" %}">{% trans "Log out" %}</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="view zoom z-depth-2">
    <a role="button" href="#" id="go-top" title="{% trans " Go top" %}" class=" -roundedbtn btn-floating btn-elegant btn-lg"><i class="img-fluid fa fa-chevron-circle-up"></i></a>
  </div>

  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
</body>

</html>
